/* desktop :1170px. */
@media (min-width: 1170px) and (max-width: 1400px) { 
.menu > ul > li > a {
  padding: 25px 18px;
}
.home3 .menu > ul > li > a {
  padding: 25px 10px;
}
.home-4 .menu > ul > li > a {
  padding: 25px 9px;
}
.t-menu-area {
  padding-left: 0px;
}
.settings {
  padding-right: 0px;
}
.cart-area {
  padding-right: 16px;
  width: 50%;
}
.settings {
  width: 30%;
}
.cart-page .cart-area {
  width: 24%;
}
.settings .setting-btn li a {
  padding: 0;
}
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.logo {
  margin-top: 4px;
  padding-left: 0;
  width: 80%;
}
.t-menu-area {
  margin-right: 0;
  padding-left: 0;
  padding-top: 7px;
}
.nav-item {
  padding-top: 0px;
}
.user-info div.search-box {
  padding-top: 28px;
}
.home-v1 .cart-area > a {
  padding: 22px 0;
}
.home-v1 .settings .setting-btn > li > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-bottom: 48px;
  padding-top: 26px;
}
.menu > ul > li > a {
  padding: 25px 11px;
}
.cart-page .megamenu-area {
  width: 857px;
}
.home2 .cart-area {  
  position: relative;
  padding-right: 30px;  
}
.cart-area > a {
  font-size: 10px;
}
.settings {
  padding-right: 0;
  width: 30%;
}
.settings .setting-btn li a {
  font-size: 10px;
}
.layear-1-1 h1 {
  font-size: 45px;
}
.b-text {
  font-size: 82px;
  letter-spacing: 26px; 
  top: 30%;
}
.layear-1-2 h2 {
  font-size: 25px;
}
a.fn-button { 
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}
.single-banner-top {
  width: 98%;
}
.single-banner:hover h2.arrival {
  right: 14%;
}
.single-banner-top h2.col {
  right: 9%;
}
.single-banner-bottom {
  width: 98%;
}
.single-banner-bottom h2.sale-1 {
  left: 6%;
}
.single-banner-bottom:hover h2.sale-1 {
  bottom: 10%;
}
.icon-list a {
  font-size: 14px;
  padding: 0 12px;
}
.product-title a {
  font-size: 13px;
}
.product-price-area .price span {
  font-size: 13px;
}
.star-rating ul li i {
  font-size: 13px;
}
.inner-text {
  padding: 90px 0;
}
.ad-section-title h3.title-2 {
  font-size: 30px;
}
.new-product-owl-active .owl-buttons div.owl-prev {
  left: 8px;
}
.new-product-owl-active .owl-buttons div {
  right: 8px !important;
}
.newsletter-title p {
  font-size: 15px;
}
.free-shiping a i {
  font-size: 40px;
}
.free-shiping p.info {
  font-size: 11px;
}
/*=================Home V-2 Style=====================*/
.single-banner-info .avai-online {
  bottom: 13%;
}
.single-banner-info .f-women > a {
  font-size: 21px;
  right: 35px;
}
.f-women::after {
  bottom: 26%;
}
.single-banner-info .s-off {
  top: 29%;
}
.single-banner-info h2.s-men a {
  font-size: 21px;
}
.s-men::after {
  top: 27%;
}
.h-bags::after {
  top: 53%;
}
.single-banner-info .of-hbags {
  bottom: 18%;
}
.single-banner-info > h2.h-bags > a {
  font-size: 21px;
}
.single-banner-info .tf-men a {
  font-size: 21px;
}
.single-banner-info .s-clothing {
  bottom: 9%;
  left: 9%;
}
/*=================Home V-3 Style=====================*/
.header-area.home3 {
  padding: 23px 20px;
}
.menu > ul > li > a {
  padding: 25px 7px;
}
.logo.home3 {
  position: static;
  margin-top: 12px;
}
.main-menu-area.home3 {
  padding-bottom: 6px;
  padding-top: 0;
}
.home3 .user-info div.search-box {
  padding-top: 21px;
}
.home3 .settings .setting-btn li a {
  padding: 19px 0;
}
.home3.cart-area > a {
  padding: 15px 0;
}
.home3 .cart-area {
  width: 50%;
}
.r-border {
  left: 26px;
}
.cr-border {
  left: 139px;
  top: 24px;
}
.accesories {
  font-size: 16px;
}
.number {
  font-size: 70px;
}
.home3 .top-image {
  max-height: 410px;
}
.home3 .bottom-image {
  max-height: 410px;
}
.home3 .small-size-img {
  max-height: 183px;
}
/*=================Home V-4 Style=====================*/
.home4.logo {
  left: -32px;
  padding-top: 4px;
}
.menu > ul > li > a {
  font-size: 12px;
}
.home4.t-menu-area {
  padding-left: 0px;
}
.home4 .user-info div.search-box {
  padding-top: 0;
}
.home4 .cart-area > a {
  padding: 0;
  line-height: 21px;
}
.home4 .settings .setting-btn li a {
  padding: 0;
}
.home4 .nav-item {
  padding-top: 32px;
}
.home4 .r-border {
  left: 32px;
}
.home4 .cr-border {
  left: 149px;
}
.home4 .top-image {
  max-height: 321px;
}
.home4 .l-top-img {
  max-height: 167px;
}
.home4 .bottom-image {
  max-height: 190px;
}
.home4 .l-long-img {
  max-height: 341px;
}
.form_control {
  top: 76px;
}
.t-pad {
  padding-left: 162px;
}
.home4 .top-image .shop-now.text-uppercase {
  bottom: 5%;
  font-size: 14px;
}
/*=================Product Detail page Style=====================*/
.detail .right-info {
  margin-top: 24px;
}
.right-info {
  height: 30px;
  margin-top: 23px;
}
.detail .cart-area {
  right: -40%;
}
.detail .cart-area > a {
  padding: 0;
}
.detail .cart-area {
  width: 33%;
}
.detail .settings {
  top: -52px;
  width:17%;
}
.detail .settings .setting-btn > li > a {
  padding: 0 0 57px;
}
.detail .top-action-area > li > a {
  padding: 0px;
}
.megamenu-area { 
  right: 33px;
}
/*=================Cart page Style=====================*/
.cart-page .call-us {
  margin-top: 7px;
}
.cart-page .cart-area {
  left: 44%;
  width: 34%;
  padding-bottom: 0;
}
.cart-page .cart-area > a {
  padding: 34px 0 56px;
}
.cart-page .settings.text-uppercase {
  top: -106px;
  width: 17%;
}
.cart-page .logo {
  margin-top: 7px;
}
.settings .setting-btn li a {
  padding: 52px 0;
}
.shopping > a {
  font-size: 13px;
  padding: 0 62px;
  width: 100%;
}
.estimate-ship {
  margin-bottom: 40px;
}
/*=================Grid page Style=====================*/
.home2 .header-setting-inner , .home2 .mini-cart , .home2 .header-bottom-search{
  top: 126%;
}
.cart-area > a {
  display: inline-block; 
  height: 30px;
  line-height: 30px;
  padding: 55px 0;
}
.c-title {
  font-size: 12px;
  margin-bottom: 28px;
}
.grid .logo {
  padding-left: 0;
  padding-top: 15px;
  width: 80%;
}
.slider-content .cat-title {
  bottom: 19%;
  font-size: 35px;
}
.right-info {
  margin-top: -33px;
}
.settings .setting-btn li a,.cart-area > a {
  font-size: 12px;  
}
.setting-btn {
  padding-bottom: 0px;
}
.settings .setting-btn li a {
  display: inline-block;
  height: 30px;
  line-height: 29px;
  padding: 55px 0;
}
.user-information.text-uppercase.text-right a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 0;
}
.show-product {
  width: 24%;
}
.sort-by > select {
  padding: 5px 30px 5px 8px;
}
.sort-by {
  float: right;
}
.sort-by > span {
  padding-right: 0px;
}
.list-grid .product-price-area {
  padding-bottom: 30px;
}
.list-grid .product-price-area,.list-grid {
  width: 97%;
}
.list-grid .product-title {
  padding-bottom: 0px;
}
.list-grid .content {
  line-height: 16px;
}
.list-grid .choices { 
  width: 62%;
}
.page-navigation {
  margin-bottom: 71px; 
}
.single-thumbnail-big .slick-slide.slick-current img{
  width: 100%;
}
/*=================blog-left-sidebar page Style=====================*/
.sidebar-recent-comments.widget-space a {
  font-size: 12px;
}
.recent-widget-content a {
  font-size: 11px;
}
.icon-list a {
  font-size: 16px;
  padding: 0 10px;
}
.shop-single-sidebar ul li a i {
  padding-right: 10px;
}
.shop-single-sidebar.compare a i {
  margin-left: 0;
}
.shop-single-sidebar.compare ul li a i {
  padding: 0;
}
} 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-transparent {
  margin-top: 20px;
}
.logo {
  padding-left: 0;
}
.form_control {
  height: 30px;
  right: 101%;
  top: -4px;
  width: 57%;
}
.nav-item { 
  padding-top: 0; 
}
.home-v1 .mean-container .mean-bar {
  margin-top: -8%;
  z-index: 2;
}
.header-right.user-info {
  z-index: 9;
}
.cart-area {
 padding-bottom: 0px; 
}
.cart-area > a {
  display: inline-block;
  padding-bottom: 40px;
}
.mini-cart {
  z-index: 9999999;
}
.slider-area.home3 {
  padding-top: 76px;
}
.user-information {
  z-index: 9999999;
}
.n-arrival span {
  padding: 23px 0;
}
.settings {
  padding-right: 0;
}
.mean-container .mean-bar {
  margin-top: -2%;
}
.layear-1-1 h1 {
  font-size: 40px;
  padding-bottom: 25px;
}
.b-text {
  font-size: 72px;
  letter-spacing: 25px;
  top: 28%;
}
.layear-1-2 h2 {
  font-size: 25px;
}
.mean-container a.meanmenu-reveal {
  padding: 13px 13px 37px;
}
a.fn-button {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
}
.single-banner-top {
  width: 95%;
}
.single-banner-bottom {
  width: 96%;
}
.single-banner-top h2.col {
  font-size: 22px;
  right: 9%;  
}
.single-banner-top:hover h2.col {
  top: 69%;
}
.single-banner h2.arrival {
  font-size: 22px;
}
.single-banner:hover h2.arrival {
  right: 15%;
}
.single-banner-bottom h2.sale-1 {
  font-size: 22px;
  left: 5%;
}
.single-banner-bottom:hover h2.sale-1 {
  bottom: 8%; 
}
.single-banner-bottom .sale-off {
  font-size: 20px;
}
.inner-text {
  padding: 80px 0;
}
.ad-section-title h3.title-2 {
  font-size: 20px;
}
.icon-list a {
  font-size: 16px;
  padding: 0 10px;
}
.single-blog {
  margin: auto auto 30px;
}
.ad-section-title h3.title-2 {
  font-size: 22px;
  letter-spacing: 5px; 
}
.newsletter-title h2 {
  font-size: 19px;
}
.newsletter-title p {
  font-size: 14px;
}
.new-product-owl-active .owl-buttons div {
  right: 10px !important;
}
.new-product-owl-active .owl-buttons div.owl-prev {
  left: 10px;
}
.free-shiping a i {
  font-size: 42px;
}
.shipping-title > a {
  font-size: 11px;
  padding-left: 45px;
}
.free-shiping p.info {
  font-size: 12px;
  padding-left: 45px;
}
.widget-area h4.widget-title {
  font-size: 12px;
}
.widget-area p, a {
  font-size: 12px;
}
.widget-area-tags a.c-tags {
  font-size: 11px;
  padding: 5px 6px; 
}
.widget-area ul li a {
  font-size: 12px;
}
.copy-right-text p > a,.copy-right-text {
  font-size: 12px;
}
/*=================Home V-2 Style=====================*/
.layear-1-1 h1 {
  font-size: 33px;
  padding-top: 130px;
}
.b-text {
  font-size: 63px;
  letter-spacing: 24px;
  top: 35%;
}
.s-men::after {
  top: 23%;
}
.single-banner-info .s-off {
  top: 25%;
}
.h-bags::after {
  top: 49%;
}
.single-banner-info .of-hbags {
  bottom: 26%;
}
.home2 .product-menu {
  padding-bottom: 0px;
}
.home2 .single-item.clearfix {
  margin-bottom: 40px;
}
.home2.section-new-arrivals {
  padding-bottom: 0px;
}
/*=================Home V-3 Style=====================*/
.logo.home3 > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  width: 73%;
}
.home3 .header-right , .home4 .header-right{
  float: none !important;
}
.home3 .product-menu {
  margin-bottom: 0;
}
.home3 .single-item {
  margin-top: 40px;
}
.home3 .mean-container .mean-bar {
  margin-top: -7.3%;
  z-index: 5;
}
.r-border {
  left: 59px;
}
.cr-border {
  left: 169px;
}
.home3 .top-image {
  max-height: 485px;
}
.home3 .bottom-image {
  max-height: 485px;
}
.home3 .small-size-img {
  max-height: 218px;
}
/*=================Home V-4 Style=====================*/
.home4.logo {
  left: 0;
  width: 60%;
}
.home4 .mean-container .mean-bar {
  margin-top: -6.7%;
  z-index: 5;
}
.home4 .cr-border {
  left: 182px;
}
.home4 .r-border {
  left: 71px;
}
.home4 .top-image {
  max-height: 241px;
}
.home4 .l-top-img {
  max-height: 122px;
}
.home4 .bottom-image {
  max-height: 133px;
}
.home4 .l-long-img {
  max-height: 251px;
}
.home4 .top-image .c-text.text-uppercase {
  font-size: 33px;
}
.home4 .top-image .shop-now.text-uppercase {
  bottom: 1%;
}
/*=================Cart page Style=====================*/
.cart-page .cart-area {
  left: -12%;
  width: 70%;
}
.cart-page .settings.text-uppercase {
  top: -59px;
  width: 37%;
}
.cart-page .logo {
  text-align: center;
}
.shopping > a {
  font-size: 12px;
  padding: 0 36px;
  width: 100%;
}
.discount-coupon {
  margin-bottom: 30px;
}
a.app-coupon, a.get-quote {
  font-size: 20px;
  padding: 10px 10px 0;
  width: 100%;
  line-height: 23px;
}
.free-shiping a i {
  font-size: 35px;
  margin-top: 0;
}
.widget-area.widget-menu {
  margin-bottom: 30px;
}
.widget-area h4.widget-title {
  padding-bottom: 14px; 
}
.widget-area p, a {
  font-size: 14px;
}
.widget-area ul li a {
  font-size: 14px;
}
/*=================Checkout page Style=====================*/
.checkout {
  margin-bottom: 30px;
}
.chk-page .mean-container .mean-bar {
  margin-top: 0;
}
/*=================Detail page Style=====================*/
.detail .logo > a { 
  z-index: 0;
}
.detail .cart-area {
  right: 21%;
}
.detail .mean-container .mean-bar {
  margin-top: -5%;
}
.detail .settings {
  float: right; 
  right: -42px;
  top: -59px;
  width: 40%;
}
.detail .logo { 
  text-align: center;
  padding-bottom: 30px;
}
.shop-products {
  margin-bottom: 30px;
}
.cart-plus-minus { 
  width: 34%;
}
.detail-product-title {
  margin-bottom: 10px;
}
.detail .detail-product-price-area {
  padding-bottom: 15px;
}
.detail .p-content {
  padding-bottom: 5px;
  padding-top: 15px;
}
.detail .content {
  margin-bottom: 5px;
}
.cart-quantity {
  margin-top: 15px;
}
.detail-choices {
  padding-bottom: 0;
  padding-top: 15px;
}
.detail .share-area {
  padding-bottom: 10px;
  padding-top: 10px;
}
.detail .categories-area {
  padding-top: 10px;
}
.shop-product-area.detail {
  margin-bottom: 20px;
}
.product-menu {
  margin-bottom: 20px;
}
/*=================Grid page Style=====================*/
.settings .setting-btn li a {
padding: 0;
}
.slider-content .cat-title {
  bottom: 21%;
  font-size: 34px;
}
.user-information.text-uppercase.text-right a {
  padding: 0 10px 0 0;
}
.c-title {
  font-size: 12px;
  margin-bottom: 29px;
}
.sort-by {
  float: none;
  margin-left: 0px;
  width: 100%;
}
.sort-by > span {
  padding-right:0px;
}
.list-grid .product-title > a {
  padding-bottom: 0px;
}
.list-grid .product-price-area {
  padding-bottom: 25px;
  width: 97%;
}
.list-grid .content {
  font-size: 12px;
  line-height: 26px;
}
.list-grid .p-content.clear {
  width: 97%;
}
.list-grid .choices {
  width: 58%;
}
.page-navigation {
  margin-bottom: 71px;
}
.slider-content .cat-title {
  bottom: 10%;
  font-size: 24px;
}
.mean-container .mean-bar {
  margin-top: -8%;
  padding: 0;
}
.single-thumbnail-big .slick-slide.slick-current img{
  width: 100%;
}
.sort-by > select {
  padding: 5px 20px 5px 5px;
}
/*=================Blog Left-sidebar page Style=====================*/
article.blog-full {
  margin-bottom: 50px;
}
.left-sidebar {
  margin-bottom: 30px;
}
.searchbar-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}
.widget-space {
  margin-bottom: 20px;
}
h2.sidebar-title {
  font-size: 14px;
}
h2.sidebar-title {
  margin-bottom: 20px;
}
.sidebar-menu > li {
  margin-bottom: 10px;
}
span.month {
  font-size: 12px;
}
span.day {
  font-size: 30px;
}
.entry-meta-small {
  margin-bottom: 20px;
  padding: 5px 0;
}
.entry-summary > p {
  line-height: 24px;
}
/*=================Contact page Style=====================*/
.contact-info {
  margin-bottom: 30px;
}
.header-area.home3 {
  padding: 15px 0 10px;
}
.shop-single-sidebar.compare a i {
  margin-left: 0;
}
.shop-single-sidebar.compare ul li a i {
  padding: 0;
}
.show-product > select {
  padding: 4px 5px 5px;
}
.sort-by > select {
  padding: 5px 0 5px 5px;
}
.view-mode {
  width: 20%;
}
.mini-cart {
  left: 50%;
  margin-left: -135px;
  width: 270px;
}
.header-bottom-search {
  left: 0;
}
} 
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.header-area {
  background: #181730 none repeat scroll 0 0;
  margin-top: 0;
  position: static;
}
.mean-container a.meanmenu-reveal {
  padding: 13px 13px 30px;
}
.home3 .mean-container a.meanmenu-reveal {
  padding: 13px 13px 15px;
}
.home4 .mean-container a.meanmenu-reveal {
  padding: 13px;
}
.logo {
  margin: auto;
  padding-bottom: 20px;
  padding-left: 0;
  padding-top: 20px;
  width: 50%;
}
.nav-item {
  height: 30px;
  padding-top: 0;
}
.home-v1 .mean-bar {
  top: -58px !important;
}
.header-bottom-search {
  left: 0;
  width: 220px;
}
.header-right.user-info {
  float: none !important;
  position: relative;
  text-align: center;
  z-index: 5;
}
.home2 .user-info.header-right {
  float: right !important;
}
.section-padding {
  padding: 40px 0;
}
.s-item {
  margin: 0;
}
.newsletter-title > p {
  margin-bottom: 10px;
}
.section-title::before {
  margin-top: 4px;
}
.single-item {
  margin-top: 30px;
  overflow: hidden;
}
.product-menu {
  margin-bottom: 0;
}
.mini-cart {
  left: 50%;
  margin-left: -130px;
  width: 260px;
}
.header-right > ul > li > a {
  padding: 15px 10px;
}
.home-v1 .single-banner {
  margin-bottom: 20px;
}
.cart-area {
  padding-bottom: 0;
  width: 60%;
}
.cart-area > a {
  font-size: 12px;
  padding-bottom: 29px;
}
.settings {
  height: 30px;
  padding-right: 0;
   width: 30%;
}
.settings .setting-btn li a {
  font-size: 12px;
}
.user-information {
  width: 130px;
  z-index: 9999999;
}
.user-information {
  padding: 5px 0; 
}
.user-information.text-uppercase.text-right a {
  font-size: 10px;
  padding: 7px;
}
.setting-btn {
  padding-bottom: 10px;
}
.user-info div.search-box {
  padding-right: 10px;
  width: 10%;
}
.top-search-form {
  left: 15px;
  width: 300px;
}
.cart-area {
  height: 30px;
}
.form_control {
  right: -4%;
  top: 32px;
  width: 109%;
  z-index: 99999999;
}
.cart-btn {
  margin: 0 6px 0 0;
  padding: 0 5px;
  width: 110px;
}
.cart-btn i {
  left: 97px;
}
.checkout-btn {
  padding: 0 5px;
  width: 105px;
}
.layear-1-1 h1 {
  font-size: 21px;
  letter-spacing: 0;
  padding-bottom: 0;
  padding-top: 67px;
}
.checkout-btn i {
  left: 87px;
  top: 9px;
}
.b-text {
  font-size: 37px;
  letter-spacing: 4px;
  top: 42%;
}
.layear-1-2 h2 {
  font-size: 10px;
  letter-spacing: 0;
  padding-bottom: 0;
}
.nivo-directionNav {
  display: none;
}
a.fn-button {
  font-size: 10px;
  height: 30px;
  line-height: 28px;
  padding: 0 12px;
}
a.meanmenu-reveal {
  width: 17px !important;
}
.single-banner-top {
  margin-bottom: 20px;
}
.single-banner h2.arrival {
  font-size: 25px; 
}
.single-banner:hover h2.arrival {
  right: 16%;
}
.single-banner .watch { 
  bottom: 13%;
}
.single-banner:hover h2.arrival {
  bottom: 4%;
}
.single-banner h2.arrival {
  font-size: 15px;
}
.single-banner-top h2.col {
  right: 11%;
}
.single-banner-top span.brand {
  top: 38%;
}
.single-banner-top h2.col {
  font-size: 15px;
}
.single-banner-top:hover h2.col {
  top: 67%;
}
.single-banner-bottom h2.sale-1 {
  font-size: 15px;
  left: 5%;
}
.single-banner-bottom .sale-off {
  font-size: 15px;
}
.single-banner-bottom:hover h2.sale-1 {
  bottom: 7%;
}
.n-arrival span {
  font-size: 14px;
}
.product-menu ul li a {
  font-size: 10px;
}
.inner-text {
  padding: 50px 0;
}
.ad-section-title h2.title {
  font-size: 18px;
}
.ad-section-title h3.title-2 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 0px;
  padding-bottom: 30px; 
}
.new-product-owl-active .owl-buttons div {
  right: 11px !important;
}
.new-product-owl-active .owl-buttons div.owl-prev {
  left: 11px;
}
.newsletter-title h2 {
  font-size: 14px;
}
.newsletter-title p {
  font-size: 14px;
}
.f-form,.submit {
  font-size: 12px;
}
.blog-content h2 {
  font-size: 12px;
}
.post-info {
  font-size: 11px;
}
.widget-area p, a {
  font-size: 11px;
}
.free-shiping{
  margin-bottom: 20px;
}
.shipping-title > a {
  font-size: 13px;
}
.free-shiping p.info {
  font-size: 12px;
}
.single-blog {
  margin-bottom: 30px;
}
.widget-area h4.widget-title {
  padding-bottom: 20px;
  padding-top: 20px;
}
.widget-area-tags a.c-tags {
  margin-left: 0;
  margin-right: 6px;
}
.copy-right-text {
  float: none;
  padding-top: 0;
  text-align: center;
}
.r-cards {
  float: none;
  text-align: center;
}
.product-menu ul li { 
  padding: 0 1px;
}
.new-arrival-area {
  margin-bottom: 0;
}
.section-best-p-area {
  padding-bottom: 30px;
  padding-top: 20px;
}
h2.post-title {
  margin-bottom: 0;
}
.header-right > ul > li:first-child > a {
  padding-left: 0;
}
/*=================Home V-2 Style=====================*/
.header-area.home2 {
  background: #202544 none repeat scroll 0 0;
  height: auto;
  position: static;
}
.phone {
  float: none;
}
.free-shipping {
  font-size: 11px;
}
.home2 .right-info > li {
  display: block;
}
.home2 .cart-area {
  display: block;
  float: left;
  padding: 0 10px 0 0;
  width: 65%;
}
.home2 .settings {
  display: block;
  float: left;
  width: 35%;
}
.mean-container .mean-bar::after {
  content: "Menu";
}
.layear-1-2 > h2 {
  display: none;
}
.f-women::after {
  bottom: 26%;
}
.single-banner-info .avai-online {
  bottom: 13%;
}
.s-men::after {
  top: 29%;
}
.single-banner-info .s-off {
  top: 31%;
}
.h-bags::after {
  top: 54%;
}
.single-banner-info .of-hbags {
  bottom: 14%;
}
.free-shiping a i {
  margin-top: 0;
  font-size: 35px;
}
.single-banner-home2.l-baner{
  margin-bottom: 30px;
}
/*=================Home V-3 Style=====================*/
.header-area.home3 {
  padding: 20px 0 0;
}
.logo.home3 {
  float: none;
  padding-bottom: 10px;
  position: static;
  right: 0;
  width: 100%;
}
.home3 .logo > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 100px;
}
.cart-area > a {
  font-size: 12px;
}
.settings .setting-btn li a {
  font-size: 12px;
}
.home3 .r-border {
  left: 20px;
}
.home3 .cr-border {
  left: 152px;
}
.slider-area.home3 {
  padding-top: 0px;
}
.home3 .mean-bar {
  top: -38px;
  z-index: 5;
}
.accesories {
  font-size: 19px; 
}
.facon {
  font-size: 20px;
  letter-spacing: 5px;
}
.welcome {
  letter-spacing: 5px;
}
.d-content {
  padding: 0 0 30px;
}
.home3 .top-image {
  max-height: 376px;
}
.home3 .bottom-image {
  max-height: 376px;
}
.home3 .small-size-img {
  margin-bottom: 30px;
  max-height: 167px;
}
.newsletter-title p {
  font-size: 12px;
}
.f-form, .submit {
  font-size: 11px;
}
.number {
  font-size: 70px;
}
.home2 .logo {
  padding-top: 0;
}
/*=================Home V-4 Style=====================*/
.header-area.home4 {
  position: absolute;
}
.logo.home4 {
  left: 0;
  margin-bottom: 10px;
  padding: 10px 0 0;
  width: 100%;
}
.home4 .logo > a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 100px;
}
.home4 .layear-1-1 h1 {
  display: none;
}
a.fn-button {
  visibility: hidden;
}
.home4 .nav-item {
  padding-top: 30px;
}
.home4 .mean-container .mean-bar {
  padding: 8px 0 0;
}
.cart-area > a {
  font-size: 11px;
  padding-bottom: 0;
  padding-right: 10px;
}
.settings .setting-btn li a {
  font-size: 11px;
}
.home4 .top-search-form {
  left: 25px;
  padding-left: 10px;
}
.home4 .r-border {
  left: 20px;
}
.home4 .cr-border {
  left: 154px;
}
.layear-1-1 h1 {
  font-size: 14px;
  padding-bottom: 9px;
  padding-top: 66px;
}
.mean-container .mean-bar::after {
  content: "";
}
.form_control {
  top: 27px;
}
.home4 .l-top-img {
  max-height: 153px;
}
.home4 .top-image {
  max-height: 132px;
}
.home4 .bottom-image {
  margin-bottom: 30px;
  max-height: 173px;
}
.home4 .l-long-img {
  max-height: 312px;
}
.home4 .top-image .c-text.text-uppercase {
  font-size: 15px;
}
.home4 .top-image .shop-now.text-uppercase {
  bottom: -3%;
}
.home4.section-banner-area {
  margin-bottom: 0px;
}
.post-thumb i {
  font-size: 20px;
  height: 55px;
  line-height: 55px;
  width: 55px;
}
.home2 .header-top {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 70px;
}
/*=================Cart page Style=====================*/
.cart-page .header-top {
  padding: 0px;
}
.cart-page .logo {
  padding-top: 30px;
}
.cart-page .cart-area > a {
  height: 30px;
  line-height: 30px;
  padding-right: 70px;
}
.cart-page .shopping > a {
  font-size: 12px;
  padding: 0 60px;
}
.cart-page .logo > a {
  z-index: 99;
  width: 90%;
}
.mini-cart {
  z-index: 999;
}
.cart-page .cart-area {
  float: left;
  left: -14px;
  width: 70%;
  z-index: 9999999;
}
.cart-page .settings.text-uppercase {
  float: none;
  left: 178px;
  top: -29px;
  width: 35%;
  z-index: 99999999;
}
.right-info.text-right.text-uppercase {
  margin-bottom: 20px;
}
.cart-page .header-bottom {
  padding: 0px;
}
.shopping > a {
  font-size: 12px;
  padding: 0 62px;
  width: 100%;
}
.shopping.text-uppercase {
  margin-bottom: 20px;
}
.discount-coupon {
  margin-bottom: 30px;
}
a.app-coupon, a.get-quote {
  width: 100%;
}
.grand-total {
  font-size: 22px;
}
.pro-checkout.text-uppercase {
  font-size: 12px;
}
.chk-add > a {
  font-size: 13px;
}
.cart-page .header-bottom {
  top: 0;
}
/*=================Checkout page Style=====================*/
.checkout {
  margin-bottom: 30px;
}
.chk-page .logo {
  width: 43%;
}
.card-control ul li .input-box {
  width: 100%;
}
/*=================Detail page Style=====================*/
.detail .header-top {
  padding: 0px;
}
.detail .logo {
  margin: 30px auto auto;
  text-align: center;
  width: 30%;
}
.detail .mean-bar {
  top: 0 !important;
}
.detail .cart-area {
  float: left;
  width: 75%;
}
.detail .settings {
  right: 20px;
  top: 0;
  width: 25%;
}
.detail .logo > a {
  z-index: 0;
}
.c-title {
  font-size: 13px;
}
.cart-title {
  margin-bottom: 10px;
}
.detail .header-bottom {
  padding: 0px;
}
.cart-plus-minus {
  width: 64%;
}
.detail-product-title > a {
  font-size: 16px;
}
.detail .p-description > a {
  font-size: 11px;
}
.detail .d-reviews > a {
  font-size: 11px;
}
.detail .tags > a {
  font-size: 11px;
}
/*=================Grid page Style=====================*/
.slider-content .cat-title {
  font-size: 25px;
}
.settings .setting-btn li a {
padding: 0;
}
.header-area.grid {
  padding: 0px;
  padding-top:20px;
}
.home2 .mean-bar {
  margin-bottom: 32px;
  margin-top: -48px;
}
.home2 .mean-container a.meanmenu-reveal {
  padding: 13px 13px 16px;
}
.home2 .logo img {
  width: 70%;
}
.header-area.grid {
  height: auto;
}
.mean-bar {
  margin-top: -54px;
}
.home4 .mean-bar {
  margin-top: -94px;
}
.grid .logo {
  width: 40%;
}
.logo {
  padding-bottom: 0px;
  width: 50%;
  margin:0;
}
.logo > a {
  display: inline-block;
  position: relative;
  z-index: 9999999;
}
.chk-page .mini-cart {
  left: 35px;
}
.user-information.text-uppercase.text-right a {
  padding: 0 10px 0 0;
}
.settings .setting-btn li a {
  margin-top: 0px;
}
.setting-btn {
  margin-top: -4px;
}
.show-product {
  float: right;
  width: 50%;
}
.show-product > select {
  padding: 3px 33px 3px 3px;
}
.shop-tool-bar {
  height: 50px;
  padding-top: 10px;
}
.sort-by > select {
  padding: 3px;
}
.sort-by {
  display: none;
}
.show-product > span {
  padding-right: 5px;
}
.view-mode {
  width: 50%;
}
.single-thumbnail-big .slick-slide.slick-current img{
  width: 100%;
}
.single-banner img {
  width: 100%;
}
/*=================Blog page Style=====================*/
.post-info-blog {
  padding-left: 0;
  padding-top: 65px;
}
.post-wrapper {
  padding-left: 0;
}
.author-description > h2 {
  font-size: 17px;
}
.sharing-icon > a {
  display: inline-block;
}
.left-border {
  border-left: medium none;
  padding-left: 0;
}
.section-banner-area .single-banner {
  margin-bottom: 20px;
}
/*=================Blog Left-sidebar page Style=====================*/
.post-title > a {
  font-size: 21px;
}
article.blog-full {
  margin-bottom: 30px;
}
.left-sidebar {
  margin-bottom: 30px;
}
.post-info-blog h2 {
  margin-bottom: 10px;
}
/*=================Contact page Style=====================*/
.contact-info {
  margin-bottom: 30px;
}
.contact-info ul li {
  font-size: 11px;
}
.home4 .user-info.header-right {
  float: none !important;
  text-align: center;
}
.list-grid .s-product-img {
  width: 100%;
}
.list-grid .product-info {
  width: 100%;
}
.list-grid .product-title {
  padding-top: 20px;
}
.list-grid .product-title > a {
  padding: 0;
}
.list-grid .product-price-area {
  margin: 0;
}
.list-grid .p-content.clear {
  margin-left: 0;
}
.list-grid .choices {
  margin-left: 0;
  width: 90%;
}
.list-grid .icon-list a {
  padding: 0 10px;
}
.n-arrival span {
  padding: 30px 0;
}
.free-shipping {
  display: none;
}
.home2 .header-right {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}
.post-thumbnail {
  margin-bottom: 20px;
}
.entry-meta-small {
  margin-bottom: 20px;
}
.entry-summary > p {
  line-height: 25px;
}
.entry-summary blockquote {
  line-height: 25px;
  margin: 10px 0;
  padding: 20px 25px;
}
.social-sharing > h3 {
  float: none;
  margin: 0;
}
.sharing-icon a i {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.social-sharing {
  margin-bottom: 30px;
}
.comment-area , .comment-respond{
  margin-top: 40px;
}
h3.comment-reply-title {
  margin: 0 0 30px;
}
span.day {
  font-size: 30px;
}
span.month {
  font-size: 12px;
}
.detail-product-title {
  margin-bottom: 10px;
  margin-top: 10px;
}
.star-rating {
  float: none;
}
.detail .detail-product-price-area {
  padding-bottom: 15px;
}
.detail .p-content {
  padding-bottom: 10px;
  padding-top: 0;
}
.detail .d-content {
  line-height: 24px;
}
.detail-choices li a.adtocart {
  margin-right: 10px;
  padding: 0 20px;
}
.detail .share-area {
  padding-bottom: 10px;
  padding-top: 10px;
}
.detail .choice-icon {
  margin-bottom: 15px;
}
} 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.layear-1-1 h1 {
  padding-bottom: 20px;
  padding-top: 74px;
}
.layear-1-1 h1 {
  font-size: 28px;
}
.b-text {
  font-size: 50px;
  top:38%;
}
.cart-area {
  padding-right: 39px;
}
.mini-cart {
  margin-left: -130px;
  padding: 15px;
  width: 260px;
}
.cart-button ul li a {
  width: 115px;
}
.c-title {
  margin-bottom: 21px;
}
.cart-btn {
  margin: 0 10px 0 0;
  width: 120px;
}
.cart-btn i {
  left: 102px;
}
.checkout-btn {
  width: 120px;
}
.checkout-btn i {
  left: 94px;
}
.mean-nav {
  margin-left: auto;
}
.single-banner h2.arrival {
  font-size: 20px;
}
.single-banner:hover h2.arrival {
  right: 14%;
}
.single-banner:hover h2.arrival {
  bottom: 6%;
}
.single-banner-top:hover h2.col {
  top: 70%;
}
.single-banner-top span.brand {
  top: 51%;
}
.single-banner-top h2.col {
  font-size: 20px;
}
.single-banner-top h2.col {
  right: 10%;
}
.single-banner-bottom .sale-off {
  font-size: 16px;
}
.single-banner-bottom h2.sale-1 {
  font-size: 20px;
}
.single-banner-bottom span.bag {
  bottom: 41%;
}
.n-arrival span {
  font-size: 15px;
}
.product-menu ul li a {
  font-size: 12px;
}
.icon-list a {
  font-size: 20px;
  padding: 0 25px;
}
a.fn-button {
  height: 35px;
  line-height: 33px;
  padding: 0 25px;
}
.newsletter-title h2 {
  font-size: 20px;
}
.new-product-owl-active .single-item .choice-icon a {
  font-size: 20px;
  padding: 0 25px;
}
.shipping-title > a {
  font-size: 15px;
}
.free-shiping a i {
  font-size: 35px;
}
.free-shiping p.info {
  font-size: 14px;
}
/*=================Home V-2 Style=====================*/
.single-banner-home2 {
  margin-bottom: 30px;
}
.single-banner-info .avai-online {
  bottom: 15%;
}
.single-banner-info h2.s-men a {
  top: 93px;
}
.single-banner-info > h2.h-bags > a {
  top: 35%;
}
.single-banner-info .of-hbags {
  bottom: 20%;
}
.home2 .cart-area {
  text-align: left;
}
/*=================Home V-3 Style=====================*/
.home3 .r-border {
  left: 49px;
}
.home3 .cr-border {
  left: 254px;
}
.number {
  font-size: 69px;
}
.home3 .single-image::after {
  bottom: 10px;
  left: 36px;
  right: 36px;
  top: 10px;
}
/*=================Home V-4 Style=====================*/
.home4 a.fn-button {
  margin-top: 56px;
  visibility: visible;
}
.home4 .form_control {
  top: 86px;
}
.home4 .r-border {
  left: 71px;
}
.home4 .cr-border {
  left: 254px;
}
.form_control {
  top: 31px;
}
.cart-area > a {
  font-size: 12px;
}
.settings .setting-btn li a {
  font-size: 12px;
}
.home4 .top-image {
  max-height: 215px;
}
.home4 .l-long-img {
  max-height: 432px;
}
.home4 .top-image {
  max-height: 213px;
}
.home4 .bottom-image {
  max-height: 278px;
}
.home4 .top-image .c-text.text-uppercase {
  font-size: 25px;
}
.home4 .top-image .shop-now.text-uppercase {
  font-size: 14px;
}
.home4 .top-image .shop-now.text-uppercase {
  bottom: 3%;
}
/*=================Cart page Style=====================*/
.shopping > a {
  text-align: center; 
}
.cart-page .logo {
  padding-left: 34px;
  padding-top: 30px;
  width: 40%;
}
.cart-page .mean-bar { 
  top: -54px !important;
}
.cart-page .settings.text-uppercase {
  left: 308px;
   width: 21%;
  }
.cart-page .mini-cart {
  height: auto;
  padding: 20px;
  width: 290px;
}
.cart-page .cart-area {  
  left: -36px;  
}
.chk-page.cart-page .mini-cart {
  height: auto;
}
.cart-page .header-bottom {
  top: 0;
}
/*=================Detail page Style=====================*/
.detail .logo > a {
  z-index: 0;
}
.product-thumbnail {
  margin-bottom: 30px;
}
.cart-plus-minus {
  width: 58%;
}
.inc.qtybutton {
  left: 210px;
}
.detail .mini-cart {
  height: auto;
  position: absolute;
  right: 0;  
}
.settings .setting-btn li a { 
  padding:0px;
}
.detail .cart-area {
  right: -5px;
}
.logo {
  padding-top: 20px;
}
.detail .r-content {
  line-height: 25px;
}
.single-banner img {
  width: 100%;
}
/*=================Blog Left-sidebar page Style=====================*/
ul.tag-list li a {
  padding: 7px 12px;  
}
.left-sidebar {
  margin-bottom: 30px;
} 
.list-grid .choices {
  width: 55%;
}
}